.comment.clearfix
	.content
		%hr/
		By
		%p.letracorreo.comment_author= comment.user.email
		.alert.alert-dismissable.alert-info.colores
			%p.letracomentario.comment_content= comment.comment
			%p.comment_author Hace
			%p.comment_author= time_ago_in_words(comment.created_at)
	.buttons
	//	= link_to "Edit", edit_post_comment_path(comment.post, comment)
	//	= link_to "Delete",[comment.post, comment], method: :delete, data: { confirm:"Are you Sure?" }
		