<%= javascript_include_tag 'application', 'jquery.charCycle.0.0.1' => true %>

<div class="container c letra1"><h1 href="#" id="text">Comunidad de aprendizaje en continuo crecimiento</h1></div>

<br>
<br>
<br>

<div class="container c letra2"><h1 href="#" id="text">Red Social <span>CFDCM</span></h1></div>

<div class="container c letra3"><p href="#" id="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem quisquam eveniet molestiae, non saepe sequi maiores veritatis et blanditiis esse ipsa illo autem quod ad vel placeat alias dicta totam! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde doloremque omnis aliquam, delectus ab aut! Consequuntur vel laboriosam, molestiae est inventore. Laboriosam debitis voluptate optio ipsam eos earum esse sequi!</p></div>


<div class="container c letra3"><p href="#" id="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem quisquam eveniet molestiae, non saepe sequi maiores veritatis et blanditiis esse ipsa illo autem quod ad vel placeat alias dicta totam!</p></div>

<div class="container c letra3"><p href="#" id="text"><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam esse error asperiores, dolorum optio omnis mollitia, distinctio quisquam vero quo sunt atque voluptatem ratione laborum nulla eveniet, accusamus officiis nostrum.</span>
<span>Quasi vel aut atque facilis minima maiores. Modi doloribus dolorem odit reiciendis quia voluptatibus soluta accusantium a, culpa voluptatum, aliquam repudiandae quis impedit beatae voluptas, ipsum! Omnis quis sapiente deleniti?</span>
<span>Odio enim distinctio quo saepe eaque dolores excepturi nam atque omnis. Vel quam fugiat doloremque officiis adipisci unde a praesentium labore eveniet magnam vero, ullam totam minus, enim sit, nam.</span>
<span>At maiores laborum dolorem soluta molestiae aut? Id accusantium corporis debitis, dolores ducimus quisquam a numquam eligendi doloremque laboriosam explicabo eius enim adipisci, blanditiis ex. Itaque labore qui numquam. Quia.</span>
<span>Corrupti eum sint vitae, ea minus magni blanditiis sapiente laudantium obcaecati quam animi magnam ullam corporis quasi? Accusamus fuga dolor quidem, cum perferendis, at distinctio itaque delectus mollitia maiores! Neque?</span>
<span>Laborum ratione velit est, sed aperiam laudantium aspernatur, cum, saepe quod ab libero minima, numquam vitae maxime. Facilis earum assumenda expedita, illum rerum nam, neque ad eius ut magni voluptatem.</span>
<span>Ad quaerat dignissimos excepturi eligendi dolorem cum fuga error omnis voluptatem sapiente iusto nisi, consequuntur veniam non numquam nulla, ipsam cumque quasi quae inventore? Culpa, consectetur beatae omnis id consequatur!</span>
<span>Fuga aliquid laboriosam corrupti fugiat quis qui voluptatem libero ullam voluptates odio sequi adipisci magnam laudantium doloremque, doloribus excepturi illo non officiis quibusdam iure! Vitae dicta eum, sapiente officia hic.</span>
<span>Hic reprehenderit nisi maxime perspiciatis nostrum expedita alias ducimus natus quod. Excepturi ducimus possimus reiciendis, asperiores voluptatibus nesciunt sequi quae qui, cupiditate animi laborum ratione architecto velit inventore recusandae, totam.</span>
<span>Odio ipsam tempora asperiores, molestiae voluptate velit laboriosam totam, inventore eum! Accusamus hic, quia similique molestias fuga quasi veniam voluptate nobis natus, maiores fugit esse excepturi enim minus, praesentium dolores.</span> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem quisquam eveniet molestiae, non saepe sequi maiores veritatis et blanditiis esse ipsa illo autem quod ad vel placeat alias dicta totam!</p></div>

<div class="container c letra3"><p href="#" id="text"><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In perspiciatis asperiores odio unde, reiciendis quisquam amet tempora consequatur natus labore. Quisquam in iusto nam tempore. Sed inventore illo cupiditate maiores!</span>
<span>Ut voluptatibus quas, autem quidem eveniet nisi tenetur impedit! Reprehenderit voluptate alias, neque quod architecto, debitis ad eos laudantium natus culpa quaerat dolorum ipsa iste, nisi totam molestias aut consequuntur.</span>
<span>Qui nostrum culpa adipisci sapiente, expedita illo nesciunt, aliquam commodi est, consequatur aliquid itaque magnam beatae, unde reiciendis. Recusandae dolorum, reiciendis consectetur harum veritatis dignissimos enim qui consequatur tempore deleniti.</span>
<span>Sunt mollitia aliquam, accusantium impedit debitis harum deserunt quos vitae repellat. Cumque atque corporis, modi doloribus? Dicta dignissimos, nesciunt dolor expedita, vero atque excepturi est. Modi consectetur dolorem laboriosam. Assumenda.</span>
<span>Sed magnam itaque ipsum eos nisi obcaecati expedita accusamus. Soluta et molestias, repellat veritatis molestiae eveniet porro nobis, quidem autem explicabo provident dolorum cumque quas at dolor animi minima optio!</span> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem quisquam eveniet molestiae, non saepe sequi maiores veritatis et blanditiis esse ipsa illo autem quod ad vel placeat alias dicta totam!</p></div>


<div class="container c letra3"><p href="#" id="text"><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam esse error asperiores, dolorum optio omnis mollitia, distinctio quisquam vero quo sunt atque voluptatem ratione laborum nulla eveniet, accusamus officiis nostrum.</span>
<span>Quasi vel aut atque facilis minima maiores. Modi doloribus dolorem odit reiciendis quia voluptatibus soluta accusantium a, culpa voluptatum, aliquam repudiandae quis impedit beatae voluptas, ipsum! Omnis quis sapiente deleniti?</span>
<span>Odio enim distinctio quo saepe eaque dolores excepturi nam atque omnis. Vel quam fugiat doloremque officiis adipisci unde a praesentium labore eveniet magnam vero, ullam totam minus, enim sit, nam.</span>
<span>At maiores laborum dolorem soluta molestiae aut? Id accusantium corporis debitis, dolores ducimus quisquam a numquam eligendi doloremque laboriosam explicabo eius enim adipisci, blanditiis ex. Itaque labore qui numquam. Quia.</span>
<span>Corrupti eum sint vitae, ea minus magni blanditiis sapiente laudantium obcaecati quam animi magnam ullam corporis quasi? Accusamus fuga dolor quidem, cum perferendis, at distinctio itaque delectus mollitia maiores! Neque?</span>
<span>Laborum ratione velit est, sed aperiam laudantium aspernatur, cum, saepe quod ab libero minima, numquam vitae maxime. Facilis earum assumenda expedita, illum rerum nam, neque ad eius ut magni voluptatem.</span>
<span>Ad quaerat dignissimos excepturi eligendi dolorem cum fuga error omnis voluptatem sapiente iusto nisi, consequuntur veniam non numquam nulla, ipsam cumque quasi quae inventore? Culpa, consectetur beatae omnis id consequatur!</span>
<span>Fuga aliquid laboriosam corrupti fugiat quis qui voluptatem libero ullam voluptates odio sequi adipisci magnam laudantium doloremque, doloribus excepturi illo non officiis quibusdam iure! Vitae dicta eum, sapiente officia hic.</span>
<span>Hic reprehenderit nisi maxime perspiciatis nostrum expedita alias ducimus natus quod. Excepturi ducimus possimus reiciendis, asperiores voluptatibus nesciunt sequi quae qui, cupiditate animi laborum ratione architecto velit inventore recusandae, totam.</span>
<span>Odio ipsam tempora asperiores, molestiae voluptate velit laboriosam totam, inventore eum! Accusamus hic, quia similique molestias fuga quasi veniam voluptate nobis natus, maiores fugit esse excepturi enim minus, praesentium dolores.</span> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem quisquam eveniet molestiae, non saepe sequi maiores veritatis et blanditiis esse ipsa illo autem quod ad vel placeat alias dicta totam!</p></div>
<div class="container c letra3"><p href="#" id="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem quisquam eveniet molestiae, non saepe sequi maiores veritatis et blanditiis esse ipsa illo autem quod ad vel placeat alias dicta totam!</p></div>
<div class="container c letra3"><p href="#" id="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem quisquam eveniet molestiae, non saepe sequi maiores veritatis et blanditiis esse ipsa illo autem quod ad vel placeat alias dicta totam! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde doloremque omnis aliquam, delectus ab aut! Consequuntur vel laboriosam, molestiae est inventore. Laboriosam debitis voluptate optio ipsam eos earum esse sequi!</p></div>