<%= javascript_include_tag 'application', 'lazyYT' => true %>


<%= stylesheet_link_tag    'application', media: 'all', 'lazyYT' => true %>   

<br>
<br>




<div class="homepage1">


            <div class="container1">

                       
            <div class="grid">
              
              <div class="item odd">
                <div class="js-lazyYT" data-youtube-id="_oEA18Y8gM0"></div>
              </div>
              <div class="item even">
                <div class="js-lazyYT " data-youtube-id="tuMgJrFoAFY" >cargando videos</div>
              </div>
              <div class="item odd">
                <div class="js-lazyYT" data-youtube-id="HLEAA_tIpbY"></div>
              </div>
              
              <div class="item even">
                <div class="js-lazyYT" data-youtube-id="hjUeXHZBLNo"></div>
              </div>
              <div class="item odd">
                <div class="js-lazyYT" data-youtube-id="QK8mJJJvaes"></div>
              </div>
              <div class="item even">
                <div class="js-lazyYT" data-youtube-id="156iOcnJdbw"></div>
              </div>
              
              <div class="item odd">
                <div class="js-lazyYT" data-youtube-id="dZREfVaIkl8"></div>
              </div>
              <div class="item even">
                <div class="js-lazyYT" data-youtube-id="gBXQ9eQpijc"></div>
              </div>
              <div class="item odd">
                <div class="js-lazyYT" data-youtube-id="RPO4tbV4UHk"></div>
              </div>
              
             
              
            </div>
     
   
</div> 


</div>
<%= javascript_include_tag 'application', 'index' => true %>  

<%= javascript_include_tag 'application', 'modernizr' => true %> 
