%body.homepages

#posts	
	- @posts.each do |post|
		.post.c
			%h2.title= link_to post.title, post
			%p.date  
				Publicado hace 
				= time_ago_in_words(post.created_at)
				por
				= post.user.email
				.com.pull-right
					Comentarios
					%span.badge
						%a= link_to post.comments.count, post



// 