/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *

 *= require 'masonry/transitions'

 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "demo";
@import "style";
@import "normalize";
@import "lazyYT";







body{
	font-family: 'Ubuntu', sans-serif;
	background: #e6e6e6;
}

.wrapper {
	width: 60%;
	max-width: 1140px;
	margin: 0 auto;

}

.clear_fix:before, .clear_fix:after{
	content: "";
	display: table;
}
.clear_fix:after{
	clear: both;
}





.buttons{
	float: right;
	
	a{
		line-height: 60px;
		background: #397CAC;
		padding: .5em 1em;
		border-radius: 0.2em;
		color: white;
		text-decoration: none;
		font-weight: 100;
	}
}



#posts{
	background: white;
	padding: 2em 5%;
	border-radius: .5em;
	box-shadow: 2px 2px 5px #999;
	.post{
		margin: 1em 0;
		padding: 1em 0;
		border-bottom: 1px solid #D0D4D4;
		.title{
			margin: 0;
			a {
				color: #656F77;
				text-decoration: none;
				font-weight: 100;
			}
		}
		.date{
			margin-top: .25em;
			
			color:#B2BAC2;
		}
	}
}



.button {
	color: #397CAC;
	border: 1px solid #397CAC;
	padding: .5em 1em;
	border-radius: 0.2em;
	text-decoration: none;
	margin-right: 2%;
}
#posts_content{
	background: white;
	padding: 2em 5%;
	border-radius:.5em;
	box-shadow: 2px 2px 5px #999;
	h1{
		font-weight: 100;
		
		color: #397CAC;
		margin-top: 0;
	}
	p{
		color:#424242;
		
		font-weight: 100;
		line-height: 1.5;
	}
	#comments {
		.comment {

			padding-bottom: 1em;
			margin-bottom: 1em;
			
			.buttons {
				width: 25%;
				float: left;
				font-size: .8em;
				text-align: right;
				padding-top: 1.5em;
				a {
					color: #397CAC;
					background-color: white;
					border: 1px solid #397CAC;
					padding: .5em 1em;
					border-radius: 0.2em;
					text-decoration: none;
					margin-right: 2%;
				}
			}
			.comment_content {
				margin: 0;
				padding: 0;
				color:#606060;
				font-size:18px;
				font-weight: bold;
			}
			.comment_author {
				color: #397CAC;
				margin-bottom:-50px;
				display: inline-block;
			
				font-size:15px;
				font-weight: bold;

			}
		}
		input[type="submit"] {
			background: #397CAC;
			border: none;
			color: white;
			font-weight: 100;
			padding: .5em 1em;
			border-radius: .2em;
		}
		textarea {
			width: 100%;
			min-height: 200px;
			border: 1px solid #d1d1d1;
			border-radius: .2em;
			margin: 1em 0;
		}
	}

}


.content_con{
	width: 100%;
	margin: 0 auto;
	background: white;
	
}


#input {
	background: #397CAC;
	border: none;
	color: white;
	font-weight: 100;
	padding: .5em 1em;
	border-radius: .2em;
}





h1, h2, h3, h4, h5, h6 {
	font-weight: 100;
}

#pins {
	margin: 0 auto;
	width: 100%;
	.box {
		margin: 10px;
		width: 350px;
		box-shadow: 3px 3px 5px #0E0E0E;
		text-align: center;
		border-color: #252525;
		



		img {
			max-width: 100%;
			height: auto;
		}
		h2 {
			font-size: 22px;
			margin: 0;
			padding: 25px 10px;
			a {
				color: #474747;
			}
		}
		.user {
			font-size: 12px;
			border-top: 1px solid #EAEAEA;
			padding: 15px;
			margin: 0;
		}
	}
}
#edit_page {
	.current_image {
		img {
			display: block;
			margin: 20px 0;
		}
	}
}
#pin_show {
	.panel-heading {
		padding: 0;
		
	}
	.pin_image {
		img {
			max-width: 100%;
			width: 100%;
			display: block;
			margin: 0 auto;
		}
	}
	.panel-body {
		padding: 35px;
		background-color: #252525;
		h1 {
			margin: 0 0 10px 0;
		}
		.description {
			color: #868686;
			line-height: 1.75;
			margin: 0;
		}
	}
	.panel-footer {
		padding: 20px 35px;
		p {
			margin: 0;
		}
		.user {
			padding-top: 8px;
		}
	}
}
textarea {
	min-height: 250px;
}


.invisible{
	display: none;
}

.panel{
	box-shadow: 2px 2px 5px #999;
}

body.homepage {
 background-color: #252525;
}


.letra{
	color: #F8F8F8;
	font-size: 200%;
	font-weight: 900;
	text-shadow: -3px -3px 3px #676663;
}


.letra1{
	color: #656F77;
	font-size: 200%;
	font-weight: 900;
	text-shadow: 0 1px 0 #bbb,
              

}

.oscuro{
	background-color:  black;
}


.letra2{
	color: #656F77;
	font-size: 300%;
	font-weight: 900;
	text-align: right;
}

.letra3{
	color: #656F77;
	font-size: 80%;
	font-weight: 900;
	text-align: left;
}


a:hover{
background-color: transparent;
}
.des{
	display:inline-block;
	font-weight: 600;
}
.post_content{
	font-size:18px;	
}
.com{
	width:150px;
	position:relative;
	top:-20px;
}
.com a{
	color:white;
}



.boton1{
	background-color: black;
}


.logo{
	 position: relative; 
     right: -80px;
}



/* parallax sign up */

 
    .bodycuerpo {
        background-color: #444;
        background: url(http://i59.tinypic.com/i3up92.png);



        
    }
    .form-signin input[type="text"] {
        margin-bottom: 5px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
    .form-signin input[type="password"] {
        margin-bottom: 10px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
    .form-signin .form-control {

        position: relative;
        font-size: 16px;
        font-family: 'Open Sans', Arial, Helvetica, sans-serif;
        height: auto;
        padding: 10px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    .vertical-offset-100 {
        padding-top: 100px;
    }
    .img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
    margin: auto;
    }
    .panel1 {
    margin-bottom: 20px;
    background: rgba(0, 0, 0, .5); 
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    }

    .letraformulario{
    	color: white;
    	font-size: 150%;
    }

    .botonpersonalizado{
    	  background: #2A2926;
		  border-color: #2A2926;
		  box-shadow: 0 1px 1px #2A2926, inset 0 1px 0 #fbfbfb;
		  color: white;
    	  font-size: 150%;
		  text-shadow: 0 1px 0 #fff;
		  color: white;
    	  font-size: 150%;
    }

    .bodycuerpo1 {
        background-color: #444;
        background: url(http://i57.tinypic.com/fvlh4y.png);
		
        
    }

   .letraformulario1{
   	font-size: 80%;
   	background-color: #C9C7C7;
   	border-radius: 4px;

   }

   .row-fluid{
   	 background: rgba(0, 0, 0, .5); 
	
   }

.cabeza{
	background:transparent;

}

.container11{
	box-shadow: inset 0 0 15px 10px black;
}

