/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require 'masonry/transitions'
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";




 body{
 	font-family: 'Ubuntu', sans-serif;
 	background: #EDEFF0;
 }

.wrapper {
	width: 60%;
	max-width: 1140px;
	margin: 0 auto;

}

.clear_fix:before, .clear_fix:after{
	content: "";
	display: table;
}
.clear_fix:after{
	clear: both;
}





.buttons{
	float: right;
	
  	a{
  		line-height: 60px;
  		background: #397CAC;
  		padding: .5em 1em;
  		border-radius: 0.2em;
  		color: white;
  		text-decoration: none;
  		font-weight: 100;
  	}
}



#posts{
	background: white;
	padding: 2em 5%;
	border-radius: .5em;
	.post{
		margin: 1em 0;
		padding: 1em 0;
		border-bottom: 1px solid #01d1d1;
		.title{
			margin: 0;
			a {
				color: #397CAC;
				text-decoration: none;
				font-weight: 100;
				font-size: 1.25rem;			}
		}
		.date{
			margin-top: .25em;
			font-size: 0.9em;
			color:#B2BAC2;
		}
	}
}



.button {
	color: #397CAC;
	border: 1px solid #397CAC;
	padding: .5em 1em;
	border-radius: 0.2em;
	text-decoration: none;
	margin-right: 2%;
}
#posts_content{
	background: white;
	padding: 2em 5%;
	border-radius:.5em;
	h1{
		font-weight: 100;
		font-size: 2em;
		color: #397CAC;
		margin-top: 0;
	}
	p{
		color: #B2BAC2;
		font-size: 0.9rem;
		font-weight: 100;
		line-height: 1.5;
	}
	#comments {
		.comment {

			padding-bottom: 1em;
			margin-bottom: 1em;
			
			.buttons {
				width: 25%;
				float: left;
				font-size: .8em;
				text-align: right;
				padding-top: 1.5em;
				a {
					color: #397CAC;
					background-color: white;
					border: 1px solid #397CAC;
					padding: .5em 1em;
					border-radius: 0.2em;
					text-decoration: none;
					margin-right: 2%;
				}
			}
			.comment_content {
				margin: 0;
				padding: 0;
			}
			.comment_author {
				color: #397CAC;
				margin-top: .5rem;
				font-size: 0.6em;
				font-weight: 700;
			}
		}
		input[type="submit"] {
			background: #397CAC;
			border: none;
			color: white;
			font-weight: 100;
			padding: .5em 1em;
			border-radius: .2em;
		}
		textarea {
			width: 100%;
			min-height: 200px;
			border: 1px solid #d1d1d1;
			border-radius: .2em;
			margin: 1em 0;
		}
	}

}


.content_con{
		width: 100%;
		margin: 0 auto;
		background: white;
	
}


#input {
			background: #397CAC;
			border: none;
			color: white;
			font-weight: 100;
			padding: .5em 1em;
			border-radius: .2em;
		}





h1, h2, h3, h4, h5, h6 {
font-weight: 100;
}

#pins {
margin: 0 auto;
width: 100%;
.box {
margin: 10px;
width: 350px;
box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
border-radius: 7px;
text-align: center;
img {
max-width: 100%;
height: auto;
}
h2 {
font-size: 22px;
margin: 0;
padding: 25px 10px;
a {
color: #474747;
}
}
.user {
font-size: 12px;
border-top: 1px solid #EAEAEA;
padding: 15px;
margin: 0;
}
}
}
#edit_page {
.current_image {
img {
display: block;
margin: 20px 0;
}
}
}
#pin_show {
.panel-heading {
padding: 0;
}
.pin_image {
img {
max-width: 100%;
width: 100%;
display: block;
margin: 0 auto;
}
}
.panel-body {
padding: 35px;
h1 {
margin: 0 0 10px 0;
}
.description {
color: #868686;
line-height: 1.75;
margin: 0;
}
}
.panel-footer {
padding: 20px 35px;
p {
margin: 0;
}
.user {
padding-top: 8px;
}
}
}
textarea {
min-height: 250px;
}